#wrap {
  width: 100%;
}
/* 제목 */
#header {
  width: 100%;
  height: 198px;
}
#head {
  margin: 0 auto;
  width: 1200px;
  border-bottom: 2px solid #000;
}
#tit {
  line-height: 200px;
  font-size: 60px;
  margin-left: 30px;
}
/* 컨텐츠 */
#content {
  width: 100%;
  height: 1300px;
}
#content_w {
  width: 1200px;
  margin: 0 auto;
}
/* 컨텐츠 제목 */
.con_h {
  width: 100%;
  height: 98px;
  border-bottom: 2px solid #000;
}
.con_h > h3 {
  font-size: 30px;
  margin-left: 30px;
  line-height: 100px;
}
/* 컨텐츠 리스트 */
.con_m {
  width: 100%;
  height: 1000px;
}
.con_m > ul > li {
  width: 100%;
  height: 99px;
  border-bottom: 1px solid #ccc;
}
/* 컨텐츠 목록 번호 */
.con_f {
  width: 100%;
  height: 200px;
}
#con_li {
  width: 100%;
  height: 100px;
}
#con_btn {
  width: 150px;
  height: 50px;
  background-color: lightpink;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px 5px;
}
#con_btn > p {
  color: aliceblue;
  line-height: 50px;
  text-align: center;
}
/* 하단 */
#footer {
  width: 94%;
  height: 300px;
  border-top: 1px solid #000;
  margin: 0 auto;
  font-weight: 600;
}
/* 하단 왼쪽 */
#foot_L {
  float: left;
  width: 30%;
  margin-top: 20px;
}
#foot_logo {
  width: 40%;
}
/* 하단 오른쪽 */
#foot_R {
  width: 32%;
  height: 20%;
  float: right;
  position: relative;
}
#family {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
#f_s {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
}
#f_s > li {
  width: 100%;
  height: 100%;
}
#f_s > li > a {
  padding-left: 1%;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 0.8rem;
  color: #000;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#f_s > li > a:after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: pink;
}
#f_s > li > a:hover {
  color: #fff;
}
#f_s > li > a:hover:after {
  width: 100%;
  z-index: -1;
}
.family_sub {
  position: absolute;
  z-index: 9999;
  margin: 20px 0 30px 5px;
  font-size: 0.7rem;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #000;
}
.family_sub li {
  margin-bottom: 10px;
}
.family_sub li:last-child {
  margin-bottom: 20px;
}
.family_sub a {
  display: block;
  color: #ccc;
}
.family_sub a:hover {
  color: #000;
}
.sns {
  position: absolute;
  top: 100px;
  left: 5px;
  width: 100%;
  height: 100px;
  font-size: 0.8rem;
}
.sns > li {
  float: left;
  width: 15%;
  margin-top: 20px;
  margin-right: 1%;
}
.sns > li > a > img {
  width: 40%;
}
/* 하단 중앙 */
#foot_m {
  float: left;
  width: 34%;
  height: 100px;
  margin-top: 90px;
  font-size: 0.7rem;
}
#foot_m_h li {
  margin-bottom: 10px;
}
#foot_m_h li a {
  color: #000;
}
#foot_m_h li span {
  margin-right: 8px;
}
.copyright {
  float: left;
  margin-top: 40px;
  width: 250px;
  height: 100px;
  font-size: 0.7rem;
  line-height: 18px;
}
.copyright > a {
  color: #000;
}
