* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 네비게이션 */
nav .sub_mn img {
  float: left;
  margin: 20px 150px 0 110px;
  width: 110px;
  height: 50px;
}
nav {
  width: 100%;
  height: 90px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
nav:hover a {
  display: block;
  color: #000;
}
nav.on {
  background-color: #fff;
}
nav a.on1 {
  display: block;
  color: #000;
}
.downdown {
  position: fixed;
  animation: down 0.3s ease;
}
@keyframes down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

nav .sub_mn {
  width: 100%;
  height: 200px;
  background-color: #fff;
}
nav .sub_mn > li {
  float: left;
  margin-right: 230px;
  margin-top: 30px;
}
nav li a {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
nav ul li a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* 서브메뉴 */
nav .sub_nav {
  margin-top: 20px;
  overflow: hidden;
}
nav .sub_nav li {
  margin-bottom: 15px;
}
nav .sub_nav li a {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

/* 로그인, 회원가입 */
nav .member {
  float: right;
  margin-top: 30px;
  margin-right: 120px;
}

nav .member li {
  float: left;
  margin-right: 20px;
}

nav .member li a {
  font-size: 15px;
  font-weight: bold;
  /* color: #fff; */
}

#wrap {
  display: flex;
  flex-flow: row wrap;
  min-width: 280px;
}
/* 헤더 */
#header {
  flex: 1 1 100%;
}
.nav {
  width: 100%;
}

/* 컨텐츠 */
#contents {
  width: 100%;
  height: 1100px;
}
/* 호텔 */
.hotel {
  float: left;
  cursor: pointer;
  overflow: hidden;
}
.hotel_img {
  width: 634px;
  height: 1000px;
  background: url(../images/hotel.jpg) no-repeat;
  background-size: 634px 1000px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  filter: url(../images/motel.jpg) brightness(60%);
}
.hotel_img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  filter: none;
}
.hotel_img:hover p {
  font-size: 25px;
  color: #fff;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  opacity: 90%;
}
/* 모텔 */
.motel {
  float: left;
  cursor: pointer;
  overflow: hidden;
}
.motel_img {
  width: 634px;
  height: 1000px;
  background: url(../images/motel.jpg) no-repeat;
  background-size: 634px 1000px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  filter: url(../images/motel.jpg) brightness(60%);
}
.motel_img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  filter: none;
}
.motel_img:hover p {
  font-size: 25px;
  color: #fff;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  opacity: 90%;
}
/* 리조트 */
.resort {
  float: left;
  cursor: pointer;
  overflow: hidden;
}
.resort_img {
  width: 634px;
  height: 1000px;
  background: url(../images/resort.png) no-repeat;
  background-size: 634px 1000px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  filter: url(../images/motel.jpg) brightness(60%);
}
.resort_img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  filter: none;
}
.resort_img:hover p {
  font-size: 25px;
  color: #fff;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #c0c0c0;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
}

/* 하단 */
#footer {
  width: 94%;
  height: 300px;
  border-top: 1px solid #000;
  margin: 0 auto;
  font-weight: 600;
}
/* 하단 왼쪽 */
#foot_L {
  float: left;
  width: 30%;
  margin-top: 20px;
}
#foot_logo {
  width: 40%;
}
/* 하단 오른쪽 */
#foot_R {
  width: 32%;
  height: 20%;
  float: right;
  position: relative;
}
#family {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
#f_s {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
}
#f_s > li {
  width: 100%;
  height: 100%;
}
#f_s > li > a {
  padding-left: 1%;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 0.8rem;
  color: #000;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#f_s > li > a:after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: pink;
}
#f_s > li > a:hover {
  color: #fff;
}
#f_s > li > a:hover:after {
  width: 100%;
  z-index: -1;
}
.family_sub {
  position: absolute;
  z-index: 9999;
  margin: 20px 0 30px 5px;
  font-size: 0.7rem;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #000;
}
.family_sub li {
  margin-bottom: 10px;
}
.family_sub li:last-child {
  margin-bottom: 20px;
}
.family_sub a {
  display: block;
  color: #ccc;
}
.family_sub a:hover {
  color: #000;
}
.sns {
  position: absolute;
  top: 100px;
  left: 5px;
  width: 100%;
  height: 100px;
  font-size: 0.8rem;
}
.sns > li {
  float: left;
  width: 15%;
  margin-top: 20px;
  margin-right: 1%;
}
.sns > li > a > img {
  width: 40%;
}
/* 하단 중앙 */
#foot_m {
  float: left;
  width: 34%;
  height: 100px;
  margin-top: 90px;
  font-size: 0.7rem;
}
#foot_m_h li {
  margin-bottom: 10px;
}
#foot_m_h li a {
  color: #000;
}
#foot_m_h li span {
  margin-right: 8px;
}
.copyright {
  float: left;
  margin-top: 40px;
  width: 250px;
  height: 100px;
  font-size: 0.7rem;
  line-height: 18px;
}
.copyright > a {
  color: #000;
}
